version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Vienna"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "security"
    allow:
      - dependency-type: "all"
    versioning-strategy: increase-if-necessary
